<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Eliverd</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>kakaotalk</string>
        <string>kakaopay</string>
    </array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Eliverd가 디바이스의 사진 갤러리에 접근할 수 있도록 허용합니다.</string>
    <key>NSCameraUsageDescription</key>
    <string>Eliverd가 카메라 기능을 사용할 수 있도록 허용합니다.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Eliverd를 사용하는 중에만 디바이스의 위치를 추적합니다.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Eliverd를 사용하지 않더라도 항상 디바이스의 위치를 추적합니다.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Eliverd를 사용하지 않더라도 항상 디바이스의 위치를 추적합니다.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Eliverd가 마이크 기능을 사용할 수 있도록 허용합니다.</string>
</dict>
</plist>
